.leaflet-container {
    background-color: #262626 !important;
}

.leaflet-routing-alternatives-container {
    margin-top: 80px;
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    max-width: 500px;
}

.leaflet-routing-alternative {
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.9);
    cursor: pointer;
    transition: background-color 0.3s;
}

.leaflet-routing-alternative:hover {
    background-color: rgba(70, 70, 70, 0.9);
}

.leaflet-routing-alternative h3,
.leaflet-routing-alternative p {
    margin: 0;
    font-size: 14px;
    color: #c0c0c0;
}

.leaflet-routing-alternative-active {
    background-color: rgba(100, 100, 100, 0.9);
    color: #ffeb3b;
}